<section id="sidebar">
  <div class="sidebar-header">
    <h1>Invento</h1>
    <p>Envanter/Stok Yönetimi</p>
  </div>
  <div class="user-profile">
    <div class="col">
      <img src="https://placehold.co/100x100" alt="User Profile" />
    </div>
    <div class="col">
      <div class="row"><h4>admin</h4></div>
      <div class="row"><p>admin123@invento.com</p></div>
    </div>
  </div>
  <div class="sidebar-list">
    <p>Dashboard</p>
    <a href="/"><span class="bxr bx-dashboard"></span>Dashboard</a>
    <p>Ürün Yönetimi</p>
    <a href="/urun-yonetimi/tum-urunler"
      ><span class="bxr bx-list-ul"></span>Tüm Ürünler</a
    >
    <a href="/urun-yonetimi/yeni-urun-ekle"
      ><span class="bxr bx-plus-circle"></span>Yeni Ürün Ekle</a
    >
    <a href="/urun-yonetimi/kategoriler"
      ><span class="bxr bx-categories"></span>Kategoriler</a
    >
    <p>Stok İşlemleri</p>
    <a href="/stok-islemleri/stok-girisi"
      ><span class="bxr bx-arrow-in-down-square-half"></span>Stok Girişi</a
    >
    <a href="/stok-islemleri/stok-cikisi"
      ><span class="bxr bx-arrow-out-up-square-half"></span>Stok Çıkışı</a
    >
    <a href="/stok-islemleri/hareket-gecmisi"
      ><span class="bxr bx-history"></span>Hareket Geçmişi</a
    >
    <a href="/stok-islemleri/dusuk-stok-uyari"
      ><span class="bxr bx-alert-circle"></span>Düşük Stok Uyarı</a
    >
    <p>Raporlar</p>
    <a href="/raporlar/gunluk-rapor"
      ><span class="bxr bx-calendar-event"></span>Günlük Rapor</a
    >
    <a href="/raporlar/haftalik-rapor"
      ><span class="bxr bx-chart-line"></span>Haftalık Rapor</a
    >
    <a href="/raporlar/aylik-rapor"
      ><span class="bxr bx-chart-bar-columns"></span>Aylık Rapor</a
    >
    <a href="/raporlar/ozel-rapor"
      ><span class="bxr bx-filter"></span>Özel Rapor</a
    >
    <p>Yönetim</p>
    <a href="/yonetim/kullanicilar"
      ><span class="bxr bx-user"></span>Kullanıcılar</a
    >
    <a href="/yonetim/sistem-ayarlari"
      ><span class="bxr bx-cog"></span>Sistem Ayarları</a
    >
  </div>
  <a href="/" class="user-action"
    ><span class="bxr bx-arrow-out-left-square-half"></span>Çıkış Yap</a
  >
</section>
